<h1>{{discussion.title}}</h1>

<div ng-repeat="post in posts">
	<div class="row">
		<div class="col-xs-12" style="font-size: 0.8em;">{{post.date |
			date:'short'}}</div>
	</div>
	<div class="row">
		<div class="col-xs-12" ng-bind-html="post.content | linebreakFilter"></div>
	</div>
	<hr />
</div>

<div class="panel panel-default">
	<div class="panel-heading">New Post</div>
	<div class="panel-body">
		<form role="form">
			<div class="form-group">
				<textarea class="form-control" ng-model="newPost.content"
					id="inputPostContent" rows="3"></textarea>
			</div>
		</form>
		<button ng-click="createPost()" class="btn btn-primary">Post!</button>
		<hr />
		<div class="row">
			<div class="col-xs-12" style="font-size: 0.8em;">Preview</div>
		</div>
		<div class="col-xs-12"
			ng-bind-html="newPost.content | linebreakFilter"></div>
	</div>
</div>

