net.skweez.forum.ldapTest {
    org.eclipse.jetty.jaas.spi.LdapLoginModule required
    debug="true"
    useLdaps="false"
    contextFactory="com.sun.jndi.ldap.LdapCtxFactory"
    hostname="localhost"
    port="10389"
    authenticationMethod="simple"
    userBaseDn="ou=Users,dc=skweez,dc=net"
    userRdnAttribute="cn"
    userIdAttribute="uid"
    forceBindingLogin="true"
    userObjectClass="inetOrgPerson"
    roleBaseDn="ou=forum,ou=Groups,dc=skweez,dc=net"
    roleNameAttribute="cn"
    roleMemberAttribute="member"
    roleObjectClass="groupOfNames";
};